body {
    background-color: #7a9d96;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

ul {
    list-style: none;
    height: 100px;
}

li {
    display: inline;
    background-color: #CAE4db;
    padding: 14px 16px;
    border-style: solid;
    border-width: 20px; 
    border-color: #dcae1d;
}

li a {
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 120px;
}

.one {
    float: right;
    padding: 10px;
}

.advice1 {
    text-align: center;
    border-style: solid;
    border-color: #dcae1d;
    background-color: #CAE4db;
    border-width: 20px;
    width: 50%;
    position: absolute;
    right: 0px;
}

.advice2 {
    text-align: center;
    border-style: solid;
    border-color: #dcae1d;
    background-color: #CAE4db;
    border-width: 20px;
    width: 50%;
    position: absolute;
    left: 0px;
}

.main {
    background-color: #CAE4db;
    border-style: solid;
    border-color: #dcae1d;
    border-width: 20px;
    width: 85%;
    margin: auto;
}
.footer {
    text-align: center;
    background-color: #CAE4db;
    border-style: solid;
    border-color: #dcae1d;
    border-width: 20px;
    width: 40%;
    margin: auto;
}

.textHome {
    padding: 10px;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 10px;
}

.allDogs {
    background-color: #CAE4db;
    border: solid;
    border-width: 10px;
    border-color: #dcae1d;
}

.dog1 {
    width: 50%;
}

.dog2 {
    text-align: right;
}

.dog3 {
    width: 50%;
    text-align: right;
    float: right;
}

.info img {
    width: 100%;
    height: 230px;
}

.petition {
    background-color: #CAE4db;
    padding: 14px 16px;
    border-style: solid;
    border-width: 10px; 
    border-color: #dcae1d;
    width: 50%;
    margin: auto;
}